.workout-div img {
  width: 250px;
  width: 250px;
  border-radius: 5px;
}
.workout-div {
  padding: 10px;
  background-color: antiquewhite;
  width: 250px;
  border-radius: 5px;
}
.add-list-btn {
  margin-top: 10px;
  width: 100%;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: orange;
  border-radius: 5px;
}
.add-list-btn p {
  font-weight: 700;
  padding: 5px;
}
