.body-div{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 20px;
    margin-left: 50px;
}
.workout-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: justify;

}
.body-div h2{
    padding: 15px;
}

.profile-div{
    background-color: antiquewhite;
    padding: 10px;
}